.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
}
.footer-content .footer-logo {
  font-size: 24px;
  font-weight: bold;
}
.footer-content .footer-logo img {
  width: 50px;
  height: 50px;
}
.footer-content .footer-links {
  display: flex;
  gap: 20px;
}
.footer-content .footer-links a {
  color: white;
  text-decoration: none;
}
.footer-content .footer-links a:hover {
  text-decoration: underline;
}
.footer-content .footer-socials {
  display: flex;
  gap: 20px;
}
.footer-content .footer-socials a {
  color: white;
  text-decoration: none;
}
.footer-content .footer-socials a:hover {
  text-decoration: underline;
}
.footer-content .footer-socials a i {
  font-size: 24px;
}