#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "header header" 
  "sidebar content"
  "footer footer" ;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  min-height: 100vh;
}

.App-header {
  grid-area: header;
}

.App-sidebar {
  grid-area: sidebar;
}

.App-content {
  grid-area: content; 
}

.App-footer {
  grid-area: footer;
}

.routes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  background-color: #f0f0f0;
}

.route {
  margin: 1rem;
  padding: 1rem;
  background-color: #be3c3c;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}